{% extends 'baseBack1.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
<div class="container my-2">
        <input class="col-10" type="text" name="AfficherClasse" onkeyup="myFunction()" placeholder="Description search" id="myInput">
    </div>

    <h1 align="center">Les Factures</h1> 
    <table class="table" id="mytable">
        <thead>
        <tr>
            <th>Factureid</th>
            <th>Commandeid</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Numtelephone</th>
            <th>Date</th>
            <th>Totalcost</th>

        </tr>
        </thead>
        <tbody>
        {% for Facture in Factures  %}
            <tr>
                <td>{{ Facture.Factureid }}</td>
                <td>{{ Facture.commande.commandeid  }}</td>
                <td>{{ Facture.nom }}</td>
                <td>{{ Facture.prenom }}</td>
                <td>{{ Facture.email }}</td>
                <td>{{ Facture.adresse }}</td>
                <td>{{ Facture.numtelephone }}</td>
                <td>{{ Facture.date ? Facture.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Facture.totalcost }}</td>
 <td> <a href="{{ path('Facture_edit', {'id': Facture.Factureid}) }}">edit</a></td>
                    <td>{{ include('Facture/_delete_form.html.twig') }}</td>
                    <td> <a href="{{ path('facture_list', {'id': Facture.Factureid})}}">PDF</a></td>
            </tr>



        

        
    </ul>
</div>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>


        id="mytable"
        function myFunction() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


    </script>

{% endblock %}
